<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40853127436-79of39k20fidpk8v7lh28i5r700ptuhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40853127436-79of39k20fidpk8v7lh28i5r700ptuhu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40853127436-dkeni5bfn3qbuqaptrar9nm1j4dj1p15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI1QCSLX7g8ZDNCQ386W7sN8gPON_acIo</string>
	<key>GCM_SENDER_ID</key>
	<string>40853127436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exploraApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-login-e8761</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-login-e8761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40853127436:ios:451bdac66721eab85c0929</string>
</dict>
</plist>